mat-card {
  padding: 16px;
  min-width: 300px;
  height: calc(100vh - 60px);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #00000026;
}
